## Bike statistics

In [13]:
import pandas as pd
df_station = pd.read_csv('station.csv')
df_weather = pd.read_csv('weather.csv')

df_trip = pd.read_csv('trip.csv')

In [53]:
df_weather

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,8/27/2016,72,66.0,61,57,54,50,81,65,46,...,29.88,29.77,10,10,10,16,9,NaN,0.00,NaN
685,8/28/2016,75,68.0,59,54,52,50,80,65,44,...,30.06,30.01,10,10,10,12,9,NaN,0.00,NaN
686,8/29/2016,81,68.0,55,55,53,50,89,65,39,...,30.02,29.95,10,10,6,9,4,NaN,0.00,NaN
687,8/30/2016,70,64.0,57,55,53,52,83,69,53,...,30.01,29.97,10,10,10,14,9,18,0.00,NaN
688,8/31/2016,71,65.0,59,61,56,52,90,77,63,...,29.97,29.96,10,10,8,14,8,NaN,0.00,Rain

### What is the average trip duration for a borrowed bicycle?

In [14]:
df_trip["tripduration"].mean()

1178.3542840325176

### 2 What's the most common age of a bicycle-sharer?

In [19]:
avg_age = 2021 - df_trip["birthyear"].mode()
avg_age

0    34.0
dtype: float64

# 3 Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [68]:
def get_month(date):
    return date.split('/')[2] +"/"+ date.split('/')[0]
df_weather['Month']=df_weather['Date'].apply(get_month)
average =df_weather.groupby('Month')['Precipitation_In']
average.mean()
# average.median()

Month
2014/10    0.300526
2014/11    0.141667
2014/12    0.145161
2015/1     0.070645
2015/10    0.120645
2015/11    0.234000
2015/12    0.327419
2015/2     0.163214
2015/3     0.135161
2015/4     0.056667
2015/5     0.014194
2015/6     0.005667
2015/7     0.008710
2015/8     0.035484
2015/9     0.041000
2016/1     0.216452
2016/2     0.173448
2016/3     0.178710
2016/4     0.046000
2016/5     0.010645
2016/6     0.055333
2016/7     0.015484
2016/8     0.000968
Name: Precipitation_In, dtype: float64

# 4 What's the average number of bikes at a given bike station?

In [40]:
avg_bike =df_station[df_station['decommission_date'].isnull()].mean()
avg_bike=avg_bike.current_dockcount
avg_bike

/tmp/ipykernel_12412/4186710161.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg_bike =df_station[df_station['decommission_date'].isnull()].mean()

17.74074074074074

# 5 When a bike station is modified, is it more likely that it'll lose bikes or gain bikes? How do you know?

In [51]:
avg_bike_non =df_station[df_station["modification_date"].notnull()].sum()
avg_bike_non.install_dockcount - avg_bike_non.current_dockcount

/tmp/ipykernel_12412/2233663551.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg_bike_non =df_station[df_station["modification_date"].notnull()].sum()

64